/* demo/components/HomeScreen/home-screen */

@import 'theme';
@import 'mixins';

$logo-size: 6rem;
$logo-font-size: $logo-size * 0.725;
$mobile-logo-size: 4rem;
$mobile-logo-font-size: $mobile-logo-size * 0.725;

:local(.component) {
  @keyframes logo-spin {
    0% {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(1turn);
    }
  }

  .hero {
    margin-top: 5rem;
  }

  // Hero logos (React + Bootstrap)

  .logo {
    display: inline-block;
    height: $logo-size;
    width: $logo-size;
  }

  .bootstrap {
    border-radius: 15%;
    border: 1px solid #cdbfe3;
    color: #cdbfe3;
    font-weight: normal;
    cursor: default;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif;
    font-size: $logo-font-size;
    line-height: $logo-size;
    margin: 0 auto;
    text-align: center;
  }

  .react {
    vertical-align: top;
    animation: logo-spin infinite 20s linear;
  }

  .plus {
    font-size: $logo-size * 0.75;
  }

  // Mobile friendly logo sizes

  @include small-only() {
    .logo {
      height: $mobile-logo-size;
      width: $mobile-logo-size;
    }

    .plus {
      font-size: $mobile-logo-size * 0.75;
    }

    .bootstrap {
      line-height: $mobile-logo-size;
      font-size: $mobile-logo-font-size;
    }
  }

  // Navigation banner styles

  .banner-link {
    padding: map-get($spacers, 2);
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);

    .btn-link {
      padding: 0;
    }
  }

  @include small-only() {
    .banner-link {
      width: 100%;
      padding: map-get($spacers, 1);
      text-align: center;
    }
  }

  // Library features info SVGs

  .feature-header {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .pull-right {
    order: 1;
  }
}
